{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typedossier</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeDossier.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ typeDossier.libelle }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if typeDossier.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ typeDossier.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ typeDossier.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ typeDossier.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ typeDossier.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ typeDossier.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_typedossier_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_typedossier_edit', { 'id': typeDossier.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
