{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typeslider</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeSlider.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ typeSlider.libelle }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if typeSlider.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ typeSlider.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ typeSlider.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ typeSlider.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ typeSlider.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ typeSlider.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_typeslider_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_typeslider_edit', { 'id': typeSlider.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
