<h4 class="box_header ">Treich Infos</h4>
<div class="vertical_carousel_container clearfix">
    <ul class="blog small vertical_carousel autoplay-1 scroll-1 navigation-1 easing-easeInOutQuint duration-750">
        {% for info in infos %}
            <li class="post">
                <a href="{{ absolute_url(path('frontend_information_show', {'type': info.typinfo.slug, 'slug': info.slug})) }}" title="{{ info.titre }}">
                    <span class="icon small gallery"></span>
                    {% if info.imageName %}
                        <img class="img-responsive" src="{{ asset('uploads/information/'~ info.imageName) | imagine_filter('accueil_treich_info') }}" alt="{{ info.titre }}" />
                    {% else %}
                        <img class="img-responsive" src="{{ asset('backoffice/images/user-info.jpg') | imagine_filter('accueil_treich_info') }}" alt="{{ info.titre }}">
                    {% endif %}
                </a>
                <div class="post_content">
                    <h5>
                        <a href="{{ absolute_url(path('frontend_information_show', {'type': info.typinfo.slug, 'slug': info.slug})) }}" title="{{ info.titre }}">{{ info.titre }}</a>
                    </h5>
                    <ul class="post_details simple">
                        <li class="category"><a href="{{ absolute_url(path('frontend_information_show', {'type': info.typinfo.slug, 'slug': info.slug})) }}" title="{{ info.typinfo.libelle }}">{{ info.typinfo.libelle }}</a></li>
                        <li class="date">{{ info.publieLe|date('d M Y') }}</li>
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<!-- Publicité -->
<div class="page_margin_top_section">
    <ul class="blog small clearfix">
        <li class="post">
            <a href="#" title="">
                <img src='images/samples/330x242/image_01.jpg' alt='img'>
            </a>
        </li>
    </ul>
</div>
<!-- \Publicité -->

<h4 class="box_header page_margin_top_section">Dossiers</h4>
<ul class="blog small clearfix">
    {% for dossier in dossiers %}
        <li class="post">
            <a href="#" title="{{ dossier.titre }}">
                {% if dossier.imageName %}
                    <img class="img-responsive" src="{{ asset('uploads/dossiers/'~ dossier.imageName) | imagine_filter('accueil_treich_info') }}" alt="{{ dossier.titre }}" />
                {% else %}
                    <img class="img-responsive" src="{{ asset('backoffice/images/user-info.jpg') | imagine_filter('accueil_treich_info') }}" alt="{{ dossier.titre }}">
                {% endif %}
            </a>
            <div class="post_content">
                <h5>
                    <a href="#" title="{{ dossier.titre }}">{{ dossier.titre }}</a>
                </h5>
                <ul class="post_details simple">
                    <li class="category"><a href="#" title="{{ dossier.type.libelle|upper }}">{{ dossier.type.libelle|upper }}</a></li>
                    <li class="date">{{ dossier.publieLe|date('d M Y') }}</li>
                </ul>
            </div>
        </li>
    {% endfor %}
</ul>

<div class="fb-page page_margin_top_section"
     data-href="https://www.facebook.com/Abengourou-Webzine-191251474765659/"
     data-tabs="timeline,events,messages"
     data-height="700"
     data-small-header="true"
     data-adapt-container-width="true"
     data-hide-cover="false"
     data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/Abengourou-Webzine-191251474765659/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Nuit-2-Reves-302256336935002/">TreichWebzine</a></blockquote>
</div>
<div id="fb-root"></div>