{% extends 'base.html.twig' %}
{% block title %} TreichWebzine :: Magazine web de la commune de treichville {% endblock %}
{% block body %}
    <div class="caroufredsel_wrapper caroufredsel_wrapper_slider">
        <ul class="slider">
            {% for slider in sliders %}
                <li class="slide">
                    {% if slider.imageName %}
                        <img class="img-responsive" src="{{ asset('uploads/sliders/'~ slider.imageName) | imagine_filter('sliders') }}" alt="{{ slider.titre }}" />
                    {% else %}
                        <img class="img-responsive" src="{{ asset('backoffice/images/user-info.jpg') | imagine_filter('sliders') }}" alt="{{ slider.titre }}">
                    {% endif %}
                    <div class="slider_content_box">
                        <ul class="post_details simple">
                            <li class="category"><a href="#" title="{{ slider.type.libelle|upper }}">{{ slider.type.libelle|upper }}</a></li>
                        </ul>
                        <h2><a href="#" title="{{ slider.titre }}">{{ slider.titre }}</a></h2>
                        <p class="clearfix">{{ slider.contenu|raw }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="page">
        <div class='slider_posts_list_container'></div>
        <div class="page_layout page_margin_top clearfix">
            <div class="row">
                <div class="column column_2_3">
                    <div class="row">
                        <h4 class="box_header">Treich Events</h4>
                        <div class="horizontal_carousel_container page_margin_top">
                            <ul class="blog horizontal_carousel autoplay-1 scroll-1 navigation-1 easing-easeInOutQuint duration-750">
                                {% for agenda in agendas %}
                                    <li class="post">
                                        <a href="{{ absolute_url(path('frontend_agenda_show', {'type': agenda.typeevent.slug, 'slug': agenda.slug})) }}" title="{{ agenda.titre }}">
                                            <img src='{{ asset('uploads/agenda/'~ agenda.imageName) | imagine_filter('accueil_treich_event') }}' alt='{{ agenda.titre }}'>
                                            <!--<img src='images/samples/330x242/image_08.jpg' alt='{{ agenda.titre }}'>-->
                                        </a>
                                        <h5><a href="{{ absolute_url(path('frontend_agenda_show', {'type': agenda.typeevent.slug, 'slug': agenda.slug})) }}" title="{{ agenda.titre }}">{{ agenda.titre }}</a></h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="#" title="{{ agenda.typeevent.libelle }}">{{ agenda.typeevent.libelle|upper }}</a></li>
                                            <li class="date">{{ agenda.publieLe|date('d M Y') }}</li>
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="row page_margin_top clearfix">
                        <img src="images/header-01.png" class="img-responsive">
                    </div>

                    <h4 class="box_header page_margin_top_section">Actualités</h4>
                    <div class="row">
                        <ul class="blog column column_1_2">
                            {% for actualite1 in actualites1 %}
                                <li class="post">
                                    <a href="{{ absolute_url(path('frontend_actualite_show', {'type': actualite1.type.slug, 'slug': actualite1.slug})) }}" title="{{ actualite1.titre }}">
                                        <img src="{{ asset('uploads/actualite/'~ actualite1.imageName) | imagine_filter('accueil_treich_event') }}" alt='{{ actualite1.titre }}'>
                                    </a>
                                    <h2 class="with_number">
                                        <a href="{{ absolute_url(path('frontend_actualite_show', {'type': actualite1.type.slug, 'slug': actualite1.slug})) }}" title="{{ actualite1.titre }}">{{ actualite1.titre }}</a>
                                        <!--<a class="comments_number" href="" title="2 comments">2<span class="arrow_comments"></span></a>-->
                                    </h2>
                                    <ul class="post_details">
                                        <li class="category"><a href="{{ absolute_url(path('frontend_actualite_type', {'type': actualite1.type.slug})) }}" title="{{ actualite1.type.libelle }}">{{ actualite1.type.libelle }}</a></li>
                                        <li class="date">{{ actualite1.publieLe|date('d M Y') }}</li>
                                    </ul>
                                    <p>{{ actualite1.resume|raw }}</p>
                                    <a class="read_more" href="{{ absolute_url(path('frontend_actualite_show', {'type': actualite1.type.slug, 'slug': actualite1.slug})) }}" title="Lire la suite"><span class="arrow"></span><span>Lire la suite</span></a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul class="blog column column_1_2">
                            {% for actualite2 in actualites2 %}
                                <li class="post">
                                    <a href="{{ absolute_url(path('frontend_actualite_show', {'type': actualite2.type.slug, 'slug': actualite2.slug})) }}" title="{{ actualite2.titre }}">
                                        <img src="{{ asset('uploads/actualite/'~ actualite2.imageName) | imagine_filter('accueil_treich_event') }}" alt='{{ actualite2.titre }}'>
                                    </a>
                                    <h2 class="with_number">
                                        <a href="{{ absolute_url(path('frontend_actualite_show', {'type': actualite2.type.slug, 'slug': actualite2.slug})) }}" title="{{ actualite2.titre }}">{{ actualite2.titre }}</a>
                                        <!--<a class="comments_number" href="#" title="2 comments">2<span class="arrow_comments"></span></a>-->
                                    </h2>
                                    <ul class="post_details">
                                        <li class="category"><a href="{{ absolute_url(path('frontend_actualite_type', {'type': actualite2.type.slug})) }}" title="{{ actualite2.type.libelle }}">{{ actualite2.type.libelle }}</a></li>
                                        <li class="date">{{ actualite2.publieLe|date('d M Y') }}</li>
                                    </ul>
                                    <p>{{ actualite2.resume|raw }}</p>
                                    <a class="read_more" href="{{ absolute_url(path('frontend_actualite_show', {'type': actualite2.type.slug, 'slug': actualite2.slug})) }}" title="Lire la suite"><span class="arrow"></span><span>Lire la suite</span></a>
                                </li>
                            {% endfor %}
                        </ul>

                    </div>
                    <div class="row">
                        <a class="more page_margin_top" href="#">Voir les autres articles de l'actualité</a>
                    </div>

                    <div class="row page_margin_top clearfix">
                        <img src="images/header-01.png" class="img-responsive">
                    </div>

                    <div class="row page_margin_top_section">
                        <h4 class="box_header">Treich Lifestyle &  Treich By Night</h4>
                        <div class="row">
                            <ul class="blog column column_1_2">
                                {% for lifestyleIntro in lifestyleIntros %}
                                    <li class="post">
                                        <a href="#" title="{{ lifestyleIntro.titre }}">
                                            <span class="icon gallery"></span>
                                            {% if lifestyleIntro.imageName %}
                                                <img class="img-responsive" src="{{ asset('uploads/lifestyles/'~ lifestyleIntro.imageName) | imagine_filter('accueil_treich_event') }}" alt="{{ lifestyleIntro.titre }}" />
                                            {% else %}
                                                <img class="img-responsive" src="{{ asset('backoffice/images/user-info.jpg') | imagine_filter('accueil_treich_event') }}" alt="{{ lifestyleIntro.titre }}">
                                            {% endif %}
                                        </a>
                                        <h2 class="with_number">
                                            <a href="#" title="{{ lifestyleIntro.titre }}">{{ lifestyleIntro.titre }}</a>
                                            <!--<a class="comments_number" href="#" title="2 comments">2<span class="arrow_comments"></span></a>-->
                                        </h2>
                                        <ul class="post_details">
                                            <li class="category"><a href="#" title="{{ lifestyleIntro.type.libelle }}">{{ lifestyleIntro.type.libelle }}</a></li>
                                            <li class="date">{{ lifestyleIntro.publieLe|date('d M Y') }}</li>
                                        </ul>
                                        <p>{{ lifestyleIntro.resume|raw }}</p>
                                        <a class="read_more" href="#" title="Lire la suite"><span class="arrow"></span><span>Lire la suite</span></a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="column column_1_2">
                                <ul class="blog small clearfix">
                                    {% for lifestyle in lifestyles %}
                                        <li class="post">
                                            <a href="#" title="{{ lifestyle.titre }}">
                                                {% if lifestyle.imageName %}
                                                    <img class="img-responsive" src="{{ asset('uploads/lifestyles/'~ lifestyle.imageName) | imagine_filter('accueil_treich_info') }}" alt="{{ lifestyle.titre }}" />
                                                {% else %}
                                                    <img class="img-responsive" src="{{ asset('backoffice/images/user-info.jpg') | imagine_filter('accueil_treich_info') }}" alt="{{ lifestyle.titre }}">
                                                {% endif %}
                                            </a>
                                            <div class="post_content">
                                                <h5>
                                                    <a href="#" title="{{ lifestyle.titre }}">{{ lifestyle.titre }}</a>
                                                </h5>
                                                <ul class="post_details simple">
                                                    <li class="category"><a href="#" title="{{ lifestyle.type.libelle|upper }}">{{ lifestyle.type.libelle|upper }}</a></li>
                                                    <li class="date">{{ lifestyle.publieLe|date('d M Y') }}</li>
                                                </ul>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <a class="more page_margin_top" href="#">Voir les autres articles</a>
                            </div>
                        </div>
                    </div>
                    <div class="row page_margin_top_section">
                        <h4 class="box_header">Treich Shooting</h4>
                        <div class="tabs no_scroll margin_top_10 clearfix">
                            <ul class="tabs_navigation small clearfix">
                                <li>
                                    <a href="#most-recent" title="Most Recent">
                                        Most Recent
                                    </a>
                                </li>
                                <li>
                                    <a href="#most-read" title="Most Read">
                                        Most Read
                                    </a>
                                </li>
                                <li>
                                    <a href="#most-commented" title="Most Commented">
                                        Most Commented
                                    </a>
                                </li>
                            </ul>
                            <div id="most-recent">
                                <div class="horizontal_carousel_container page_margin_top">
                                    <ul class="blog horizontal_carousel page_margin_top autoplay-0 scroll-1 navigation-1 easing-easeInOutQuint duration-750">
                                        <li class="post">
                                            <a href="indexb878.html?page=post" title="High Altitudes May Aid Weight Control">
                                                <img src='images/samples/330x242/image_11.jpg' alt='img'>
                                            </a>
                                            <h5><span class="number">1.</span><a href="indexb878.html?page=post" title="High Altitudes May Aid Weight Control">High Altitudes May Aid Weight Control</a></h5>
                                            <ul class="post_details simple">
                                                <li class="category"><a href="indexdced.html?page=category&amp;cat=health" title="HEALTH">HEALTH</a></li>
                                                <li class="date">
                                                    10:11 PM, Feb 02
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="post">
                                            <a href="indexb878.html?page=post" title="Climate Change Debate While Britain Floods">
                                                <img src='images/samples/330x242/image_14.jpg' alt='img'>
                                            </a>
                                            <h5><span class="number">2.</span><a href="indexb878.html?page=post" title="Climate Change Debate While Britain Floods">Climate Change Debate While Britain Floods</a></h5>
                                            <ul class="post_details simple">
                                                <li class="category"><a href="index7855.html?page=category&amp;cat=world" title="WORLD">WORLD</a></li>
                                                <li class="date">
                                                    10:11 PM, Feb 02
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="post">
                                            <a href="index4e1c.html?page=post_small_image" title="Escape From Planet Earth: The Movie">
                                                <img src='images/samples/330x242/image_02.jpg' alt='img'>
                                            </a>
                                            <h5><span class="number">3.</span><a href="index4e1c.html?page=post_small_image" title="Escape From Planet Earth: The Movie">Escape From Planet Earth: The Movie</a></h5>
                                            <ul class="post_details simple">
                                                <li class="category"><a href="indexd5f0.html?page=category&amp;cat=lifestyle" title="LIFESTYLE">LIFESTYLE</a></li>
                                                <li class="date">
                                                    10:11 PM, Feb 02
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="post first">
                                            <a href="indexb878.html?page=post" title="Built on Brotherhood, Club Lives Up to Name">
                                                <img src='images/samples/330x242/image_09.jpg' alt='img'>
                                            </a>
                                            <h5><span class="number">4.</span><a href="indexb878.html?page=post" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a></h5>
                                            <ul class="post_details simple">
                                                <li class="category"><a href="index5d3d.html?page=category&amp;cat=sports" title="SPORTS">SPORTS</a></li>
                                                <li class="date">
                                                    10:11 PM, Feb 02
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="most-read">
                                <div class="horizontal_carousel_container page_margin_top">
                                    <ul class="blog horizontal_carousel page_margin_top autoplay-0 scroll-1 navigation-1 easing-easeInOutQuint duration-750">
                                        <li class="post">
                                            <a href="indexb878.html?page=post" title="The Public Health Crisis Hiding in Our Food">
                                                <img src='images/samples/330x242/image_10.jpg' alt='img'>
                                            </a>
                                            <h5><span class="number">1.</span><a href="indexb878.html?page=post" title="The Public Health Crisis Hiding in Our Food">The Public Health Crisis Hiding in Our Food</a></h5>
                                            <ul class="post_details simple">
                                                <li class="category"><a href="indexdced.html?page=category&amp;cat=health" title="HEALTH">HEALTH</a></li>
                                                <li class="date">
                                                    10:11 PM, Feb 02
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="post">
                                            <a href="indexb878.html?page=post" title="Drug Makers Hunt for Mergers">
                                                <img src='images/samples/330x242/image_07.jpg' alt='img'>
                                            </a>
                                            <h5><span class="number">2.</span><a href="indexb878.html?page=post" title="Drug Makers Hunt for Mergers">Drug Makers Hunt for Mergers</a></h5>
                                            <ul class="post_details simple">
                                                <li class="category"><a href="index7855.html?page=category&amp;cat=world" title="WORLD">WORLD</a></li>
                                                <li class="date">
                                                    10:11 PM, Feb 02
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="post">
                                            <a href="indexb878.html?page=post" title="Escape From Planet Earth: The Movie">
                                                <img src='images/samples/330x242/image_13.jpg' alt='img'>
                                            </a>
                                            <h5><span class="number">3.</span><a href="indexb878.html?page=post" title="Escape From Planet Earth: The Movie">Escape From Planet Earth: The Movie</a></h5>
                                            <ul class="post_details simple">
                                                <li class="category"><a href="indexd5f0.html?page=category&amp;cat=lifestyle" title="LIFESTYLE">LIFESTYLE</a></li>
                                                <li class="date">
                                                    10:11 PM, Feb 02
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="post first">
                                            <a href="index224d.html?page=post_soundcloud" title="High Altitudes May Aid Weight Control">
                                                <img src='images/samples/330x242/image_05.jpg' alt='img'>
                                            </a>
                                            <h5><span class="number">4.</span><a href="index224d.html?page=post_soundcloud" title="High Altitudes May Aid Weight Control">High Altitudes May Aid Weight Control</a></h5>
                                            <ul class="post_details simple">
                                                <li class="category"><a href="index5d3d.html?page=category&amp;cat=sports" title="SPORTS">SPORTS</a></li>
                                                <li class="date">
                                                    10:11 PM, Feb 02
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="most-commented">
                                <div class="horizontal_carousel_container page_margin_top">
                                    <ul class="blog horizontal_carousel page_margin_top autoplay-0 scroll-1 navigation-1 easing-easeInOutQuint duration-750">
                                        <li class="post">
                                            <a href="indexb878.html?page=post" title="Escape From Planet Earth: The Movie">
                                                <img src='images/samples/330x242/image_13.jpg' alt='img'>
                                            </a>
                                            <h5><span class="number">1.</span><a href="indexb878.html?page=post" title="Escape From Planet Earth: The Movie">Escape From Planet Earth: The Movie</a></h5>
                                            <ul class="post_details simple">
                                                <li class="category"><a href="indexdced.html?page=category&amp;cat=health" title="HEALTH">HEALTH</a></li>
                                                <li class="date">
                                                    10:11 PM, Feb 02
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="post">
                                            <a href="indexb878.html?page=post" title="Struggling Nuremberg Sack Coach Verbeek">
                                                <img src='images/samples/330x242/image_06.jpg' alt='img'>
                                            </a>
                                            <h5><span class="number">2.</span><a href="indexb878.html?page=post" title="Struggling Nuremberg Sack Coach Verbeek">Struggling Nuremberg Sack Coach Verbeek</a></h5>
                                            <ul class="post_details simple">
                                                <li class="category"><a href="index7855.html?page=category&amp;cat=world" title="WORLD">WORLD</a></li>
                                                <li class="date">
                                                    10:11 PM, Feb 02
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="post">
                                            <a href="index4e1c.html?page=post_small_image" title="Built on Brotherhood, Club Lives Up to Name">
                                                <img src='images/samples/330x242/image_03.jpg' alt='img'>
                                            </a>
                                            <h5><span class="number">3.</span><a href="index4e1c.html?page=post_small_image" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a></h5>
                                            <ul class="post_details simple">
                                                <li class="category"><a href="indexd5f0.html?page=category&amp;cat=lifestyle" title="LIFESTYLE">LIFESTYLE</a></li>
                                                <li class="date">
                                                    10:11 PM, Feb 02
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="post first">
                                            <a href="indexb878.html?page=post" title="High Altitudes May Aid Weight Control">
                                                <img src='images/samples/330x242/image_05.jpg' alt='img'>
                                            </a>
                                            <h5><span class="number">4.</span><a href="indexb878.html?page=post" title="High Altitudes May Aid Weight Control">High Altitudes May Aid Weight Control</a></h5>
                                            <ul class="post_details simple">
                                                <li class="category"><a href="index5d3d.html?page=category&amp;cat=sports" title="SPORTS">SPORTS</a></li>
                                                <li class="date">
                                                    10:11 PM, Feb 02
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row page_margin_top clearfix">
                        <img src="{{ absolute_url(asset('frontend/images/header-01.png')) }}" class="img-responsive">
                    </div>

                </div>
                <div class="column column_1_3">
                    {{ render(url('homepage_droit')) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

