{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mairierubrique</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mairieRubrique.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ mairieRubrique.libelle }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if mairieRubrique.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ mairieRubrique.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ mairieRubrique.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ mairieRubrique.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ mairieRubrique.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ mairieRubrique.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_mairierubrique_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_mairierubrique_edit', { 'id': mairieRubrique.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
