{% extends 'base.html.twig' %}
{% block title %}{{ lifestyle.titre }}{% endblock %}
{% block body %}
    <div class="page">
        <div class="page_layout page_margin_top clearfix">
            <div class="row page_margin_top">
                <div class="column column_1_1">

                </div>
            </div>
            <hr class="divider page_margin_top">
            <div class="row page_margin_top">
                <div class="column column_2_3">
                    <div class="row">
                        <div class="post single">
                            <h1 class="post_title">{{ lifestyle.titre }}</h1>
                            <ul class="post_details clearfix">
                                <li class="detail category"> <a href="#" title="{{ lifestyle.type.libelle|upper }}">{{ lifestyle.type.libelle|upper }}</a></li>
                                <li class="detail date">{{ lifestyle.publieLe|date('d-m-Y h:i:s') }}</li>
                                <li class="detail author">Par <a href="#" title="{{ lifestyle.publiePar|title }}">{{ lifestyle.publiePar|title }}</a></li>
                                <!--<li class="detail views">6 254 Views</li>
                                <li class="detail comments"><a href="#comments_list" class="scroll_to_comments" title="6 Comments">6 Comments</a></li>-->
                            </ul>
                            {% if lifestyle.imageName %}
                                <a href="{{ asset('uploads/lifestyles/'~ lifestyle.imageName) | imagine_filter('page_zoom') }}" class="post_image page_margin_top prettyPhoto" title="{{ lifestyle.titre }}">
                                    <img class="img-responsive" src="{{ asset('uploads/lifestyles/'~ lifestyle.imageName) | imagine_filter('page') }}" alt="{{ lifestyle.titre }}" />
                                </a>
                            {% else %}
                                <img class="img-responsive" src="{{ asset('backoffice/images/user-lifestyle.jpg') | imagine_filter('page') }}" alt="{{ lifestyle.titre }}">
                            {% endif %}
                            <div class="post_content page_margin_top_section clearfix">
                                <div class="">
                                    <div class="text">
                                        {{ lifestyle.contenu|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row page_margin_top">
                        <div class="share_box clearfix">
                            <label>Partager:</label>
                            <ul class="social_icons colors clearfix">
                                <li>
                                    <a target="_blank" title="" href="http://facebook.com/" class="social_icon facebook">
                                        &nbsp;
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" title="" href="https://twitter.com/" class="social_icon twitter">
                                        &nbsp;
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row page_margin_top clearfix">
                        <img src="{{ absolute_url(asset('frontend/images/header-01.png')) }}" class="img-responsive">
                    </div>

                    <div class="row page_margin_top">
                        <ul class="taxonomies tags clearfix">
                            {% for tag in lifestyle.tags|split(',') %}
                                <li><a href="#" title="{{ tag|title }}">{{ tag|upper }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="row page_margin_top_section">
                        <h4 class="box_header">Articles similaires</h4>
                        <div class="horizontal_carousel_container page_margin_top">
                            <ul class="blog horizontal_carousel autoplay-1 scroll-1 navigation-1 easing-easeInOutQuint duration-750">
                                {% for similaire in similaires %}
                                    <li class="post">
                                        <a href="{{ absolute_url(path('frontend_lifestyle_show', {'type': similaire.type.slug, 'slug': similaire.slug})) }}" title="{{ similaire.titre }}">
                                            {% if similaire.imageName %}
                                                <img class="img-responsive" src="{{ asset('uploads/lifestyles/'~ similaire.imageName) | imagine_filter('accueil_treich_event') }}" alt="{{ similaire.titre }}" />
                                            {% else %}
                                                <img class="img-responsive" src="{{ asset('backoffice/images/user-lifestyle.jpg') | imagine_filter('accueil_treich_event') }}" alt="{{ similaire.titre }}">
                                            {% endif %}
                                        </a>
                                        <h5><a href="{{ absolute_url(path('frontend_lifestyle_show', {'type': similaire.type.slug, 'slug': similaire.slug})) }}" title="{{ similaire.titre }}">{{ similaire.titre }}</a></h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="#" title="{{ similaire.type.libelle|upper }}">{{ similaire.type.libelle|upper }}</a></li>
                                            <li class="date">{{ lifestyle.publieLe|date('d M Y') }}</li>
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="column column_1_3">
                    {{ render(url('homepage_droit')) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}