{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typeactualite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeActualite.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ typeActualite.libelle }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if typeActualite.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ typeActualite.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ typeActualite.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ typeActualite.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ typeActualite.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ typeActualite.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_typeactualite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_typeactualite_edit', { 'id': typeActualite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
