{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typeevent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeEvent.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ typeEvent.libelle }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if typeEvent.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ typeEvent.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ typeEvent.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ typeEvent.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ typeEvent.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ typeEvent.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_typeevent_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_typeevent_edit', { 'id': typeEvent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
