{% extends 'base.html.twig' %}

{% block body %}
    <h1>Communerubrique</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ communeRubrique.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ communeRubrique.libelle }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if communeRubrique.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ communeRubrique.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ communeRubrique.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ communeRubrique.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ communeRubrique.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ communeRubrique.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_comunerubrique_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_comunerubrique_edit', { 'id': communeRubrique.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
